<!-- login.component.html -->
<!-- 
<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
      <a routerLink="/">HOME</a>  
    
    </form>
  </div>
   -->

   <!--
    <div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST">
        <legend class="d-flex justify-content-center">Login</legend>
        <div class="mb-3">
          <label for="txtName" class="form-label">Email</label>
          <input
            type="text"
            [(ngModel)]="email"
            name="email"
            class="form-control"
            id="txtName"
          />
        </div>
        <div class="mb-3">
          <label for="txtCost" class="form-label">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            id="txtCost"
          />
        </div>
 
        <button type="button" (click)="login()" class="btn btn-primary">
          Login
        </button>
        <a routerLink="/">HOME</a>  
      </form>
    </div>
  </div>
</div>




 VAMOS HACER EL LOGGIN DE LA MASTER CLASS -->

<!-- vamos a en lazar el formgruop del componente al template con  [formGroup]="form"  
hacemos un div por cada campo a cargar 

[ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched }" 
con la clase de arriba hacemos que nuestro recuadro quede verde cuando esta okk y en rojo cuando esta mal



-->

<h1> Iniciar Sesion</h1>
<form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="m-5">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" 
    [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched }"
    formControlName="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger"> 
          El email es requerido.
        
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger"> 
        El formato del email debe ser valido.
        
        </p>
    
    
    </div>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password"
    [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched }" 
    
    formControlName="password"  class="form-control" id="exampleInputPassword1" placeholder="Password">
    <div *ngIf="Password?.errors && Password?.touched" >
      <p *ngIf="Password?.hasError('required') " class="text-danger">
        La contraseña es requerida.
      </p>
    
      <p *ngIf="Password?.hasError('minlength')"  class="text-danger"> 
        La contraseña debe ser de 6 o mas.
      </p>
    
    
    </div>




  </div>
  
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

