<!-- login.component.html -->
<!-- 
<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
      <a routerLink="/">HOME</a>  
    
    </form>
  </div>
   -->
  
    <div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST">
        <legend class="d-flex justify-content-center">Login</legend>
        <div class="mb-3">
          <label for="txtName" class="form-label">Email</label>
          <input
            type="text"
            [(ngModel)]="email"
            name="email"
            class="form-control"
            id="txtName"
          />
        </div>
        <div class="mb-3">
          <label for="txtCost" class="form-label">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            id="txtCost"
          />
        </div>
 
        <button type="button" (click)="login()" class="btn btn-primary">
          Login
        </button>
        <a routerLink="/">HOME</a>  
      </form>
    </div>
  </div>
</div>





