
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">

<form [formGroup]="form"  (ngSubmit)=" enviaExp()">
  <legend class="d-flex justify-content-center">Experiencias</legend>
        
    

    <div class="form-group">
    <label *ngIf="flagedit===false" for="imageFile">Link de la imagen donde trabaja o trabajó:</label>
    <label *ngIf="flagedit===true" for="imageFile">Link de la imagen {{datoedit.uriImg}} de la empresa donde trabaja o trabajó:</label>
    <input

     type="text"
     formControlName="uriImg"
    [ngClass]="{'is-invalid': UriImg?.errors && (UriImg?.touched), 'is-valid':!UriImg?.errors && UriImg?.touched}"
     class="form-control"
     id="Institucion"
     name="token drive"
     placeholder="Ingrese el Link de la imagen del drive"
     
     >
            
     <div *ngIf="UriImg?.errors && UriImg?.touched">

      <p *ngIf="UriImg?.hasError('required')" class="text-danger">
        Ingrese el link de la imagen compartida publicamente de su drive.

      </p>
      <p *ngIf="UriImg?.errors?.['minlength']" class="text-danger">
        el tamaño no corresponde a un link .

      </p>

    </div>
    </div>








      <div class="form-group">
        <label *ngIf="flagedit===false" for="imageFile">nombre del puesto de trabajo:</label>
        <label *ngIf="flagedit===true" for="imageFile">nombre del puesto de  trabajo actual:{{datoedit.trabajo}}</label>


        <input type="text"
      formControlName="trabajo"
      [ngClass]="{'is-invalid': Trabajo?.errors && (Trabajo?.touched), 'is-valid':!Trabajo?.errors && Trabajo?.touched}"
      class="form-control" name="message" placeholder="Ingrese el nombre del trabajo" rows="4">
      
      
      <div *ngIf="Trabajo?.errors && Trabajo?.touched">

        <p *ngIf="Trabajo?.hasError('required')" class="text-danger">
          Debe Ingresar el campo de Trabajo.
  
        </p>
        <p *ngIf="Trabajo?.errors?.['minlength']" class="text-danger">
          Debe ingresar el nombre del trabajo , debe tener minimo 4 caracteres.
  
        </p>

      </div>
    
      </div>


      <div class="form-group">
        <label *ngIf="flagedit===false">Ingrese el nombre de la empresa </label>
        <label *ngIf="flagedit===true">Ingrese el  nombre de la empresa, empresaa actual: {{datoedit.empresa}}</label>
       <input
       
       formControlName="empresa"
       [ngClass]="{'is-invalid': Empresa?.errors && (Empresa?.touched), 'is-valid':!Empresa?.errors && Empresa?.touched}"
       type="text"
       class="form-control"
       placeholder="Nombre de Empresa"
      
       >
       <div *ngIf="Empresa?.errors && Empresa?.touched">
  
        <p *ngIf="Empresa?.hasError('required')" class="text-danger">
          El campo del nombre de la Empresa.
  
        </p>
        <p *ngIf="Empresa?.errors?.['minlength']" class="text-danger">
          Debe ingresar el campo del nombre de la Empresa , debe tener minimo 4 caracteres.
        
        </p>
  
      </div>
  
      </div>
    
  





      <div class="form-group">
      <label for="exampleInputPassword1">Fecha de Ingreso   </label >
        <input type="date" 
         placeholder="dd-mm-yyyy" value=""
         min="1940-01-01" max="2030-12-31"
         formControlName="fechastr"
         [ngClass]="{'is-invalid': Fechastr?.errors && (Fechastr?.touched), 'is-valid':!Fechastr?.errors && Fechastr?.touched}"
         
         >              
         <div *ngIf="Fechastr?.errors && Fechastr?.touched">

          <p *ngIf="Fechastr?.hasError('required')" class="text-danger">
            Debe cargar el campo de la fecha.
    
          </p>
          <p *ngIf="Fechastr?.errors?.['minlength']" class="text-danger">
            Debe cargar todos los campos de la fecha. 
    
          </p>
  
        </div>
      </div> 

      <div class="form-group">
      <label *ngIf="flagedit===false" for="exampleInputPassword1">Fecha de Fin</label>
      <label *ngIf="flagedit===true" for="exampleInputPassword1">Fecha de Fin {{datoedit.fechaFin}}
        </label >
      <input type="date" name="begin" 
       placeholder="dd-mm-yyyy" value=""
       formControlName="fechastr1"
       [ngClass]="{'is-invalid': Fechastr1?.errors && (Fechastr1?.touched), 'is-valid':!Fechastr1?.errors && Fechastr1?.touched}"
       min="1991-01-01" max="2030-12-31"
    >
       <p> {{fechastr1}}</p> 
       <div *ngIf="Fechastr1?.errors && Fechastr1?.touched">

        <p *ngIf="Fechastr1?.hasError('required')" class="text-danger">
          Debe cargar el campo de la fecha.
  
        </p>
        <p *ngIf="Fechastr1?.errors?.['minlength']" class="text-danger">
          Debe cargar todos los campos de la fecha. 
        
        </p>

      </div>


      </div>

    <div class="form-group">
      <label *ngIf="flagedit===false">Ingrese la provincia de la empresa donde trabaja o trabajó:  </label>
      <label *ngIf="flagedit===true">Ingrese el nombrede la provincia, provincia actual:{{datoedit.provincias}}</label>
     <input
     
     formControlName="provincias"
     [ngClass]="{'is-invalid': Provincias?.errors && (Provincias?.touched), 'is-valid':!Provincias?.errors && Provincias?.touched}"
     type="text"
     class="form-control"
     placeholder="Nombre de la Provincia"
    
     >
     <div *ngIf="Provincias?.errors && Provincias?.touched">

      <p *ngIf="Provincias?.hasError('required')" class="text-danger">
        El campo del nombre de la Provincia.

      </p>
      <p *ngIf="Provincias?.errors?.['minlength']" class="text-danger">
        Debe ingresar el campo del nombre de la Provincia , debe tener minimo 4 caracteres.
      
      </p>

    </div>

    </div>


    <div class="form-group">
      <label *ngIf="flagedit===false">Ingrese el país de la empresa donde trabaja o trabajó:</label>
      <label *ngIf="flagedit===true">Ingrese el país de la empresa donde trabaja o trabajó, país actual:{{datoedit.pais}}</label>
     <input
     
     formControlName="pais"
     [ngClass]="{'is-invalid': Pais?.errors && (Pais?.touched), 'is-valid':!Pais?.errors && Pais?.touched}"
     type="text"
     class="form-control"
     placeholder="Nombre del Pais"
    
     >
     <div *ngIf="Pais?.errors && Pais?.touched">

      <p *ngIf="Pais?.hasError('required')" class="text-danger">
        El campo del nombre del Pais.

      </p>
      <p *ngIf="Pais?.errors?.['minlength']" class="text-danger">
        Debe ingresar el campo del nombre del Pais , debe tener minimo 4 caracteres.
      
      </p>

    </div>

    </div>

    <div class="form-group">
      <label *ngIf="flagedit===false">Ingrese la localidad de la empresa donde trabaja o trabajó: </label>
      <label *ngIf="flagedit===true">Ingrese la localidad de la empresa donde trabaja o trabajó, localidad actual de la empresa:{{datoedit.localidad}}</label>
     <input
     
     formControlName="localidad"
     [ngClass]="{'is-invalid': Localidad?.errors && (Localidad?.touched), 'is-valid':!Localidad?.errors && Localidad?.touched}"
     type="text"
     class="form-control" 
     placeholder="Nombre de la Localidad"
    
     >
     <div *ngIf="Localidad?.errors && Localidad?.touched">

      <p *ngIf="Localidad?.hasError('required')" class="text-danger">
        El campo del nombre de la Localidad.

      </p>
      <p *ngIf="Localidad?.errors?.['minlength']" class="text-danger">
        Debe ingresar el campo del nombre de la Localidad , debe tener minimo 4 caracteres.
      
      </p>

    </div>

    </div>












      

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

  </div>
</div>











<!--









<div class="bodyNewExp">
<h2 class="Titnuevaexp">Nueva experiencia</h2>
<br />
<div class="row blockinput">
  <div class="col-sm-2" ></div>
  <div class="col-sm-10" >
                         <label *ngIf="flagedit===false"  >Imagen de empresa en que trabaja/jó:</label >
                         <label *ngIf="flagedit===true" > Imagen de empresa  {{datoedit.uriImg}} :</label >

                         <input
                         style="height: 1rem; font-size:0.5rem" 
                          type="text"
                          class="form-control"
                          id="trabajo"
                          name="Uriimg"
                          placeholder="ingese el token de la imagen"
                          [(ngModel)]="uriImge"
                         >
                       



    </div>

    </div>    
       <br /> 
        <div class="row blockinput">
            <div class="col-sm-6" >
                <label *ngIf="flagedit===false" >Ingrese puesto de trabajo</label >
                  <label *ngIf="flagedit===true" >Edite el puesto {{datoedit.trabajo}} </label >
                <input
                style="height: 1rem; font-size:0.5rem" 
                 type="text"
                 class="form-control"
                 id="trabajo"
                 name="trabajo"
                 placeholder="ingrese puesto"
                 [(ngModel)]="trabajo"
                 >
                 <small id="passwordHelpBlock" class="form-text text-muted">
                  Ingrese el puesto que ocupaba en el trabajo que realizaba ej: Mantenimiento en el area electrica, etc..
                </small>
                 <p> {{trabajo}}</p>
              </div>
              <div class="col-sm-6" >
                 <label *ngIf="flagedit===false" >Ingrese el nombre de la empresa</label >
                  <label *ngIf="flagedit===true" >Edite el campo {{datoedit.empresa}} </label >
                <input 
                style="height: 1rem; font-size:0.5rem" 
                type="text"
                class="form-control"
                placeholder="Nombre de empresa"
                [(ngModel)]="empresa"
                >
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Ingrese el nombre de la empresa ej: PIRULO S.A. o nombre de la institucion UNAM ..etc.
                </small>
                <p> {{empresa}}</p>
               </div>  
        </div>
        <div class="row blockinput">
          <div class="col-sm-2" ></div>
            <div class="col-sm-4" >
                <label *ngIf="flagedit===false" >Fecha de Ingreso  </label >
                  <label *ngIf="flagedit===true" > edite la Fecha de Ingreso {{datoedit.fechaIni}} </label >
                <input type="date" name="begin" 
                 placeholder="dd-mm-yyyy" value=""
                 min="1991-01-01" max="2030-12-31"
                 [(ngModel)]="fechastr">              
                 <p> {{fechastr}}</p>
                </div>
            
            <div class="col-sm-4" >
                <label *ngIf="flagedit===false" >Fecha de Fin</label >
                  <label *ngIf="flagedit===true" >Fecha de Fin     {{datoedit.fechaFin}}</label >
                <input type="date" name="begin" 
                 placeholder="dd-mm-yyyy" value=""
                 min="1991-01-01" max="2030-12-31"
                 [(ngModel)]="fechastr1">
                 <p> {{fechastr1}}</p>
                </div>
            
            </div>
        <div class="row blockinput">
            <div class="col-sm-4" >
                <label *ngIf="flagedit===false" >Provincia</label >
                  <label *ngIf="flagedit===true" >Provincia {{datoedit.provincias}} </label >
                <input
                style="height: 1rem; font-size:0.5rem" 
                 type="text"
                 class="form-control"
                 placeholder="ingrese Provincia o Estado"
                 [(ngModel)]="provincias"
                 >
                 <p> {{provincias}}</p>
            </div>
            
            <div class="col-sm-4" >
                <label *ngIf="flagedit===false" >Localidad</label >
                  <label *ngIf="flagedit===true" >Edite el campo  {{datoedit.localidad}} </label > 
                <input
                style="height: 1rem; font-size:0.5rem" 
                 type="text"
                 class="form-control"
                 placeholder="ingrese Localidad"
                 [(ngModel)]="localidad"
                 >
                 <p> {{localidad}}</p>
            </div>
            
            <div class="col-sm-4" >
                <label *ngIf="flagedit===false" >País</label >
                  <label *ngIf="flagedit===true" >País     {{datoedit.pais}}</label >
                <input
                style="height: 1rem; font-size:0.5rem" 
                type="text"
                class="form-control"
                placeholder="ingrese País"
                [(ngModel)]="pais">
                <p> {{pais}}</p>
              </div>
            
            </div>
        

              
        <div class="row blockinput">
            <div class="col-sm-8" >
                
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Recuerde verificar toda la información antes de confirmar
                </small>
              </div>
            <div class="col-sm-1" >
                <button
                type="button"
                class="btn btn-success"
                (click)="enviaExp()"
                style='width:5rem; height:1.4rem;font-size:0.5rem;'
                >Confirmar</button>
            </div>
          </div>
        </div>



<section class="container custom-section">
        <div class="row">
          <div
            class="card text-white bg-dark col-md "
            data-aos="fade-up"
            data-aos-offset="400"
            data-aos-duration="500"
          >
           
          <h3 class="empresa card-title"  *ngIf="flagedit===false"  >Imagen de empresa en que trabaja/jó: </h3>
          <h3 class="empresa card-title" *ngIf="flagedit===true" > Editar Imagen de empresa {{datoedit.empresa}} :</h3>
            <input
                style="height: 1rem; font-size:0.5rem" 
                type="text"
                class="form-control"
                id="trabajo"
                name="Uriimg"
                placeholder="ingese el token de la imagen"
                [(ngModel)]="uriImge">         
          
          </div>  
              <div class="cb card text-white bg-dark col-md-8">
              <div class="card-header"></div>
              <div class="card-body">
                <h3 class="empresa card-title" *ngIf="flagedit===false" >Ingrese puesto de trabajo</h3>
                  <h3 class="empresa card-title" *ngIf="flagedit===true" >Edite el puesto {{datoedit.trabajo}} </h3>
                <input
                style="height: 1rem; font-size:0.5rem" 
                 type="text"
                  class="form-control"
                 id="trabajo"
                 name="trabajo"
                 placeholder="ingrese puesto"
                 [(ngModel)]="trabajo"
                 >
                 <small id="passwordHelpBlock" class="form-text text-muted">
                  Ingrese el puesto que ocupaba en el trabajo que realizaba ej: Mantenimiento en el area electrica, etc..
                </small>
                 <p> {{trabajo}}</p>
           
              <h3 class="empresa card-title" *ngIf="flagedit===false" >Ingrese el nombre de la empresa</h3>
                <h3 class="empresa card-title" *ngIf="flagedit===true" >Edite el campo {{datoedit.empresa}} </h3>
          <input 
          style="height: 2rem; font-size:1.5rem" 
          type="text"
          class="form-control"
          placeholder="Nombre de empresa"
          [(ngModel)]="empresa"
          >
          <small id="passwordHelpBlock" class="form-text text-muted">
            Ingrese el nombre de la empresa ej: PIRULO S.A. o nombre de la institucion UNAM ..etc.
          </small>
          <p> {{empresa}}</p>
            
          
        </div>
      </div> 
          <div class="cb card text-white bg-dark col-md-6">
            <div class="card-header"></div>
            <div class="card-body">
            <h3 class="empresa card-title"*ngIf="flagedit===false" >Fecha de Ingreso  </h3>
            <h3 class="empresa card-title"*ngIf="flagedit===true" > edite la Fecha de Ingreso {{datoedit.fechaIni}} </h3>
            <input type="date" name="begin" 
             placeholder="dd-mm-yyyy" value=""
             min="1991-01-01" max="2030-12-31"
             [(ngModel)]="fechastr">              
             <p> {{fechastr}}</p>
            </div>
          </div>
            
        
          <div class="cb card text-white bg-dark col-md-6">
            <div class="card-header"></div>
            <div class="card-body">
            <h3 class="empresa card-title" *ngIf="flagedit===false" >Fecha de Fin</h3>
            <h3 class="empresa card-title" *ngIf="flagedit===true" >Fecha de Fin     {{datoedit.fechaFin}}</h3>
            <input type="date" name="begin" 
             placeholder="dd-mm-yyyy" value=""
             min="1991-01-01" max="2030-12-31"
             [(ngModel)]="fechastr1">
             <p> {{fechastr1}}</p>
            </div>
          </div>


          <div class="cb card text-white bg-dark col-md-4">
            <div class="card-header"></div>
            <div class="card-body">
            <h3 class="empresa card-title" *ngIf="flagedit===false" >Provincia</h3>
            <h3 class="empresa card-title" *ngIf="flagedit===true" >Provincia {{datoedit.provincias}} </h3>
            <input
            style="height: 1rem; font-size:0.5rem" 
             type="text"
             class="form-control"
             placeholder="ingrese Provincia o Estado"
             [(ngModel)]="provincias"
             >
             <p> {{provincias}}</p>
        </div>
      </div>
        
        <div class="cb card text-white bg-dark col-md-4">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="empresa card-title" *ngIf="flagedit===false" >Localidad</h3>
            <h3 class="empresa card-title" *ngIf="flagedit===true" >Edite el campo  {{datoedit.localidad}} </h3>
            <input
            style="height: 1rem; font-size:0.5rem" 
             type="text"
             class="form-control"
             placeholder="ingrese Localidad"
             [(ngModel)]="localidad"
             >
             <p> {{localidad}}</p>

             <button
             type="button"
             class="btn btn-success"
             (click)="enviaExp()"
             style='width:5rem; height:1.4rem;font-size:0.5rem;'
             >Confirmar</button>

        </div>
        </div>
        
        <div class="cb card text-white bg-dark col-md-4">
          <div class="card-header"></div>
          <div class="card-body">
            <h3 class="empresa card-title" *ngIf="flagedit===false" >País</h3>
            <h3 class="empresa card-title" *ngIf="flagedit===true" >País     {{datoedit.pais}}</h3>
            <input
            style="height: 1rem; font-size:0.5rem" 
            type="text"
            class="form-control"
            placeholder="ingrese País"
            [(ngModel)]="pais">
            <p> {{pais}}</p>
          </div>
        </div>
  
    </div>
        
</section>



<!--  

    <section class="container custom-section">
        <div class="row">
          <div
            class="card text-white bg-dark col-md "
            data-aos="fade-up"
            data-aos-offset="400"
            data-aos-duration="500"
          >
            
          
          </div>  
              <div class="cb card text-white bg-dark col-md-8">
              <div class="card-header"></div>
              <div class="card-body">
              <h3 class="empresa card-title">{{experiencias.empresa}}</h3>
              <h3 class="empresa card-title"  *ngIf="flagedit===false"  >Imagen de empresa en que trabaja/jó: </h3>
              <h3 class="empresa card-title" *ngIf="flagedit===true" > Imagen de empresa  {{datoedit.UriImg}} :</h3>
                <input
                    style="height: 1rem; font-size:0.5rem" 
                    type="text"
                    class="form-control"
                    id="trabajo"
                    name="Uriimg"
                    placeholder="ingese el token de la imagen"
                    [(ngModel)]="UriImge"
                >


          </div>
        </div>
        
          <div class="cb card text-white bg-dark col-md">
            
            <div class="card-header"></div>
            <div class="card-body">
              <br>
              <br>
              <a href="#" 
              *ngIf="flag==true"
              (click)="EditarExperiencia(experiencias)"        
              >
      <span class="glyphicon glyphicon-pencil"></span>
              </a>
  
            <br>
              <a href="#" 
          *ngIf="flag==true"
          (click)="BorrarExperiencia(experiencias)"
          >
            <span class="glyphicon glyphicon-trash"></span>
          </a>
            </div>
              
          </div>
     
        </div>
      </section>



-->














        <!--

<h1>Ingrese los campos de su nueva experiencia</h1>

<input class="form-control blockinputm-control-s blockinputm" type="text" placeholder=".form-control blockinputm">

<form class="form-floating">
    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
    <label  for="floatingInputValue">Ingrese puesto de trabajo</label >
      <label  for="floatingInputValue">true puesto de trabajo</label >
  </form>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label  for="floatingInput">Ingrese puesto de trabajo</label >
      <label  for="floatingInput">true puesto de trabajo</label >
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="Empresa S.A.-S.R.L..etc">
    <label  for="floatingInput">Ingrese el nombre de la empresa o institución</label >
      <label  for="floatingInput">true el nombre de la empresa o institución</label >
  </div>
  

  <form>
    <div class="form-row blockinput">
      <div class="col-7">
        <input type="text" class="form-control" placeholder="City">
      </div>
      <div class="col-2">
        <input type="text" class="form-control" placeholder="State">
      </div>
      <div class="col-2">
        <input type="text" class="form-control" placeholder="Zip">
      </div>
    </div>
  </form>
-->