<div>
    <h1 class="TitIdio"> IDIOMAS </h1>
      <div class="container">
        
        <div class="row colu1">
          <div class="col-sm-4 colu1" > 
            <h4 class="idioma"> {{idioma1}} </h4>
          </div>
          <div class="col-sm-6 colu1" > 
            <p class="Idiolvl"> Lectura: {{tipoIdioma[1]}}</p>
            <p class="Idiolvl"> Escritura: {{tipoIdioma[1]}}</p>
  
          </div>
          <div class="col-sm-2 colu1" > 
            <p class="Idiolvl"> +</p>
            <p class="Idiolvl"> -</p>
            </div>
        </div>
        <div class="row colu1">
          <div class="col-sm-4 colu1" >
            <h4 class="idioma"> {{idioma2}} </h4>
          </div>
          <div class="col-sm-6 colu1" > 
            <p class="Idiolvl"> Lectura: {{tipoIdioma[3]}}</p>
            <p class="Idiolvl"> Escritura: {{tipoIdioma[2]}}</p>
          </div>
          <div class="col-sm-2 colu1" > 
            <p class="Idiolvl"> +</p>
            <p class="Idiolvl"> -</p>
  
          </div>
         </div>
      </div>
  
  
      </div>

      
      <div>
  <!-- LENGUAJES DE PROGRAMACION para iterrar vamo-->      
        <h1 class="TitIdio"> LENGUAJES DE PROGRAMACION</h1>
        <div class="container">        
          
              <app-leng-prog
                *ngFor="let recorre of skillBD "
                [SkillInput1]="recorre"
                (DeleteSKILL)="BorrarSkill(recorre)"
              >
              </app-leng-prog>
          
        </div>
       
         

  