<div class="container">
  <div class="row">
      <div class="col-sm-11" > 
        <h1 class="expeHeader"> IDIOMAS </h1>
      </div>
      <div class="col-sm-1" > 
        <button
        *ngIf="flag===false"
        (click)="addNewLang()"
        style="border:none;   background-color: lightgray;"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="Black" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>  

      </div>
  </div>
</div>



      <div class="container">
        <div class="row">
        <app-idioma        
        *ngFor="let i of IdiomaBD"
        (DeleteIDIO)="BorrarIdio(i)"
        [IdioInput]="i"        
        [newitem1]="AddItem"
        (EditIDio)="SendEdit(i)"
        > </app-idioma>
        </div>
      </div>    

        <app-add-lang
        *ngIf="AddItem"
        (InIdio)="addLang($event)"
        (newEdit)="addEditLeng()" 
        [datoedit]  ="ParaEnviar"
        [flagedit] ="editar"
        >
       </app-add-lang>

<br>
<!--



  <div class="container">
    <div class="row">
        <div class="col-sm-11" > 
        
        <h1 class="expeHeader"> IDIOMAS </h1>
        </div>
        <app-idioma
        
        *ngFor="let i of IdiomaBD"
        (DeleteIDIO)="BorrarIdio(i)"
         [IdioInput]="i"        
         [newitem1]="AddItem"
         (EditIDio)="SendEdit(i)"
        >
            
        </app-idioma>
      </div>
      
      <div class="col-sm-1" > 
        <button
        *ngIf="flag==false"
        (click)="addNewLang()"

        >
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="Black" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>  
    </div>
  </div>
    <app-add-lang
    *ngIf="AddItem"
    (InIdio)="addLang($event)"
    (newEdit)="addEditLeng()" 
    [datoedit]  ="ParaEnviar"
    [flagedit] ="editar"
    >
   </app-add-lang>

-->

<!--(InExp)="addNewLang($event)"-->





      
  <!-- LENGUAJES DE PROGRAMACION para iterrar vamo-->      
  <div class="container">
    <div class="row">
        <div class="col-sm-11" > 
        <h1 class="expeHeader"> SOFTWARE Y PROGRAMAS</h1>
        
        </div>
        <div class="col-sm-1" > 
          <button
          *ngIf="flag===false"
          (click)="addNewTSkill()"         
          style="border:none;   background-color: lightgray;"
          >
              <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="Black" class="bi bi-plus-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
          </button>
          
      </div>
    </div>
  </div>    
  
  <!--
              <app-leng-prog
                *ngFor="let recorre of skillBD "
                [SkillInput1]="recorre"
                (DeleteSKILL)="BorrarSkill(recorre)"
                [newitem2]="AddItem1"
                (EditSkill)="SendEdit1(recorre)"
              >
              </app-leng-prog>
            -->
                    
        
            

            <app-add-prog
*ngIf="AddItem1"
(inSkill)="Addprog($event)"
(newEditSkill)="AddEditProg()"
[datoedit1]="ParaEnviar1"
[flagedit1]="editar1"
> 
</app-add-prog>





<div 
*ngIf="AddItem1==false"
class="container mt-5 mb-3">
  <div class="row">


<div
*ngFor="let recorre of skillBD "

class="col-md-4">
  <div class="card text-white bg-dark p-3 mb-2">
      <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
              <div class="icon"> 
                  
                  <img [src] ="recorre.urlImg" [title]="recorre.lenguaje" style="width:2rem">
                  
              </div>
              <div class="ms-2 c-details">
                  <h6 class="mb-0">{{recorre.lenguaje}}</h6> 
              </div>
          </div>
          <div class="badge" style="border:none;   background-color:rgb(33,37,41) ; "> 
            <button 
            style="border:none;   background-color: lightgray" 
            (click)="BorrarSkill(recorre)"
            *ngIf="flag==false"
            
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="Black" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>                    
           </button>
            <button
            style="border:none;   background-color: lightgray" 
            (click)="SendEdit1(recorre)"
            *ngIf="flag==false"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="Black" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </button>    
          
          </div>
      </div>
      <div class="mt-5">
          <h3 class="heading">{{(recorre.info)}}</h3>
          <div class="mt-5">
              <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': recorre.nivel  }"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="mt-3"> <span class="text1">nivel de conocimiento <span class="text2">del {{recorre.nivel}}</span></span> </div>
          </div>
      </div>
  </div>
</div>

</div>
</div>


  