



<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">

<form [formGroup]="form"  (ngSubmit)=" enviaEdu()">
  <legend class="d-flex justify-content-center">Educación</legend>
        
    

    <div class="form-group">
    <label *ngIf="flagedit===false" for="imageFile">Link de la imagen donde estudia o estudio:</label>
    <label *ngIf="flagedit===true" for="imageFile">Link de la imagen {{datoedit.uriImg}} de la institucion donde estudia o estudio:</label>
    <input

     type="text"
     formControlName="uriImg"
    [ngClass]="{'is-invalid': UriImg?.errors && (UriImg?.touched), 'is-valid':!UriImg?.errors && UriImg?.touched}"
     class="form-control"
     id="Institucion"
     name="Ingrese el link de su imagen de drive"
     placeholder="Ingrese el link de su imagen de drive"
     
     >
            
     <div *ngIf="UriImg?.errors && UriImg?.touched">

      <p *ngIf="UriImg?.hasError('required')" class="text-danger">
        Ingrese el link de la imagen compartida publicamente de su drive.

      </p>
      <p *ngIf="UriImg?.errors?.['minlength']" class="text-danger">
        el tamaño no corresponde a un link .

      </p>

      <p *ngIf="UriImg?.errors?.['LinkDriveInvalid']" class="text-danger">
        Link invalido debe tener formato https://drive.google.com/xxx.
      </p>



    </div>
    </div>








      <div class="form-group">
        <label for="exampleInputPassword1">Institución</label>
        <input type="text"
      formControlName="institucion"
      [ngClass]="{'is-invalid': Institucion?.errors && (Institucion?.touched), 'is-valid':!Institucion?.errors && Institucion?.touched}"
      class="form-control" name="message" placeholder="Ingrese el nombre de la institución" rows="4">
      
      
      <div *ngIf="Institucion?.errors && Institucion?.touched">

        <p *ngIf="Institucion?.hasError('required')" class="text-danger">
          Debe Ingresar la insititución.
  
        </p>
        <p *ngIf="Institucion?.errors?.['minlength']" class="text-danger">
          Debe ingresar el nombre de la insititución , debe tener minimo 8 caracteres.
  
        </p>

      </div>
    
      </div>


      <div class="form-group">
      <label for="exampleInputPassword1">Fecha de Ingreso   </label >
        <input type="date" 
         placeholder="dd-mm-yyyy" value=""
         min="1940-01-01" max="2030-12-31"
         formControlName="fechastr"
         [ngClass]="{'is-invalid': Fechastr?.errors && (Fechastr?.touched), 'is-valid':!Fechastr?.errors && Fechastr?.touched}"
         
         >              
         <div *ngIf="Fechastr?.errors && Fechastr?.touched">

          <p *ngIf="Fechastr?.hasError('required')" class="text-danger">
            Debe cargar el campo de la fecha.
    
          </p>
          <p *ngIf="Fechastr?.errors?.['minlength']" class="text-danger">
            Debe cargar todos los campos de la fecha. 
    
          </p>
  
        </div>
      </div> 

      <div class="form-group">
      <label *ngIf="flagedit===false" for="exampleInputPassword1">Fecha de Fin</label>
      <label *ngIf="flagedit===true" for="exampleInputPassword1">Fecha de Fin {{datoedit.fechaFin}}
        </label >
      <input type="date" name="begin" 
       placeholder="dd-mm-yyyy" value=""
       formControlName="fechastr1"
       [ngClass]="{'is-invalid': Fechastr1?.errors && (Fechastr1?.touched), 'is-valid':!Fechastr1?.errors && Fechastr1?.touched}"
       min="1991-01-01" max="2030-12-31"
    >
       <p> {{fechastr1}}</p> 
       <div *ngIf="Fechastr1?.errors && Fechastr1?.touched">

        <p *ngIf="Fechastr1?.hasError('required')" class="text-danger">
          Debe cargar el campo de la fecha.
  
        </p>
        <p *ngIf="Fechastr1?.errors?.['minlength']" class="text-danger">
          Debe cargar todos los campos de la fecha. 
        
        </p>

      </div>


      </div>
      <div class="form-group">
      <label *ngIf="flagedit===false">Ingrese el nombre del titulo </label>
      <label *ngIf="flagedit===true">Ingrese el nombre del titulo{{datoedit.titulo}}</label>
     <input
     
     formControlName="titulo"
     [ngClass]="{'is-invalid': Titulo?.errors && (Titulo?.touched), 'is-valid':!Titulo?.errors && Titulo?.touched}"
      
     type="text"
     class="form-control"
     placeholder="Nombre de Titulo"
    
     >
     <div *ngIf="Titulo?.errors && Titulo?.touched">

      <p *ngIf="Titulo?.hasError('required')" class="text-danger">
        El campo del titulo es requerida.

      </p>
      <p *ngIf="Titulo?.errors?.['minlength']" class="text-danger">
        Debe ingresar el campo de titulo , debe tener minimo 8 caracteres.
      
      </p>

    </div>




    </div>
  
      <div class="form-group">

        <label *ngIf="flagedit===false">Estado de su estudio</label>
        <label *ngIf="flagedit===true">Estado de su estudio {{datoedit.estado}}</ label>
      <select 
      formControlName="estado"
      [ngClass]="{'is-invalid': Estado?.errors && (Estado?.touched), 'is-valid':!Estado?.errors && Estado?.touched}"
                     (change)="onChange()"
                     [(ngModel)]="seleccion"
                      class="form-select form-select-lg mb-3" aria-label=".form-select-sm example">
                      
                      <option

                     *ngFor="let recorre of estadox"
                     [value]="recorre"
                         >{{recorre}} </option>
                    </select> 
                    <div *ngIf="Estado?.errors && Estado?.touched">

                      <p *ngIf="Estado?.hasError('required')" class="text-danger">
                        Debe ingresar el estado.
                
                      </p>
                      <p *ngIf="Estado?.errors?.['minlength']" class="text-danger">
                        Debe ingresar el estado.
                      
                      </p>
              
                    </div>


      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

  </div>
</div>



















<!--



<div class="bodyNewExp">
    <h2 class="Titnuevaexp">Nueva experiencia</h2>
    <br />
    <div class="row blockinput">
      <div class="col-sm-2" ></div>
      <div class="col-sm-10" >
                             <label *ngIf="flagedit===false" for="imageFile">Token de la imagen donde estudia o estudio:</label>
                             <label *ngIf="flagedit===true" for="imageFile">Token de la imagen {{datoedit.uriImg}} de la institucion donde estudia o estudio:</label>
                             <input
                             style="height: 1rem; font-size:0.5rem" 
                              type="text"
                              class="form-control"
                              id="Institucion"
                              name="token drive"
                              placeholder="Ingrese el token del archivo"
                              [(ngModel)]="uriImge"
                              >
                        
        </div>
    

        




        </div>    
           <br /> 
            <div class="row blockinput">
                <div class="col-sm-6" >
                    <label *ngIf="flagedit===false">Ingrese el nombre de la Institucion</label>
                    <label *ngIf="flagedit===true">Ingrese el nombre de la  Institucion {{datoedit.institucion}}</label>
                   <input
                    style="height: 1rem; font-size:0.5rem" 
                     type="text"
                     class="form-control"
                     id="Institucion"
                     name="Institucion"
                     placeholder="ingrese puesto"
                     [(ngModel)]="institucion"
                     >
                     <small id="passwordHelpBlock" class="form-text text-muted">
                      Ingrese el puesto que ocupaba en el Institucion que realizaba ej: Mantenimiento en el area electrica, etc..
                    </small>
                     <p> {{institucion}}</p>
                  </div>
                  <div class="col-sm-6" >
                     <label *ngIf="flagedit===false">Ingrese el nombre del titulo de lo que estudio</label>
                     <label *ngIf="flagedit===true">Ingrese el nombre del titulo  de lo que estudio {{datoedit.titulo}}</label>
                    <input 
                    style="height: 1rem; font-size:0.5rem" 
                    type="text"
                    class="form-control"
                    placeholder="Nombre de Titulo"
                    [(ngModel)]="titulo"
                    >
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Ingrese el nombre de la Titulo ej: PIRULO S.A. o nombre de la institucion UNAM ..etc.
                    </small>
                    <p> {{titulo}}</p>
                   </div>  
            </div>
            <div class="row blockinput">
              <div class="col-sm-2" ></div>
                <div class="col-sm-4" >
                    <label *ngIf="flagedit===false">Fecha de Ingreso  </label>
                    <label *ngIf="flagedit===true">Fecha de Ingreso {{datoedit.fechaIni}}  </label >
                    <input type="date" name="begin" 
                     placeholder="dd-mm-yyyy" value=""
                     min="1991-01-01" max="2030-12-31"
                     [(ngModel)]="fechastr">              
                     <p> {{fechastr}}</p>
                    </div>
                
                <div class="col-sm-4" >
                    <label *ngIf="flagedit===false">Fecha de Fin</label>
                    <label *ngIf="flagedit===true">Fecha de Fin {{datoedit.fechaFin}}
                      </label >
                    <input type="date" name="begin" 
                     placeholder="dd-mm-yyyy" value=""
                     min="1991-01-01" max="2030-12-31"
                     [(ngModel)]="fechastr1">
                     <p> {{fechastr1}}</p> 
                    </div>
          
                
                </div>
            <div class="row blockinput">
                <div class="col-sm-4" >
                    <label *ngIf="flagedit===false">Estado de su estudio</label>
                    <label *ngIf="flagedit===true">Estado de su estudio {{datoedit.estado}}</ label>
            
            -->
            
                      <!--<input
                    style="height: 1rem; font-size:0.5rem" 
                     type="text"
                     class="form-control"
                     placeholder="ingrese Provincia o Estado"
                     [(ngModel)]="Estado"
                     esto ya no estaban
                     > -->

                      <!--
                     <select 
                     (change)="onChange()"
                     [(ngModel)]="seleccion"
                     class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option
                                        
                     *ngFor="let recorre of estadox"
                     [value]="recorre"
                      >{{recorre}} </option>
                    </select> 
                  
                </div>

                
                </div>
            
    
                  
            <div class="row blockinput">
                <div class="col-sm-8" >
                    
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      Recuerde verificar toda la información antes de confirmar
                    </small>
                  </div>
                <div class="col-sm-1" >
                    <button
                    type="button"
                    class="btn btn-success"
                    (click)="enviaEdu()"
                    style='width:5rem; height:1.4rem;font-size:0.5rem;'
                    >Confirmar</button>
                </div>
              </div>
            </div>
    
    
    
          

    
    
    
    -->
    
    
    
    
    
    
    
    
            <!--
    
    <h1>Ingrese los campos de su nueva experiencia</h1>
    
    <input class="form-control blockinputm-control-s blockinputm" type="text" placeholder=".form-control blockinputm">
    
    <form class="form-floating">
        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
        <label *ngIf="flagedit===false" for="floatingInputValue">Ingrese puesto de Institucion</label>
        <label *ngIf="flagedit===true" for="floatingInputValue">Ingrese  puesto de Institucion</label>
      </form>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label *ngIf="flagedit===false" for="floatingInput">Ingrese puesto de Institucion</label>
        <label *ngIf="flagedit===true" for="floatingInput">Ingrese  puesto de Institucion</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Titulo S.A.-S.R.L..etc">
        <label *ngIf="flagedit===false" for="floatingInput">Ingrese el nombre de la Titulo o institución</label>
        <label *ngIf="flagedit===true" for="floatingInput">Ingrese  el nombre de la Titulo o institución</label>
      </div>
      
    
      <form>
        <div class="form-row blockinput">
          <div class="col-7">
            <input type="text" class="form-control" placeholder="City">
          </div>
          <div class="col-2">
            <input type="text" class="form-control" placeholder="State">
          </div>
          <div class="col-2">
            <input type="text" class="form-control" placeholder="Zip">
          </div>
        </div>
      </form>
    -->