



<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">

<form [formGroup]="form"  (ngSubmit)=" enviaExp()">
  <legend class="d-flex justify-content-center">Educación</legend>
  


  <div class="form-group">

        <label *ngIf="flagedit===false">Ingrese el idioma</label>
        <label *ngIf="flagedit===true">Ingrese el idioma,idioma  actual: {{datoedit.idioma}}</ label>
      <select 
      formControlName="idioma"
      [ngClass]="{'is-invalid': Idioma?.errors && (Idioma?.touched), 'is-valid':!Idioma?.errors && Idioma?.touched}"
                                      
                      class="form-select form-select-lg mb-3" aria-label=".form-select-sm example">
                      
                      <option

                     *ngFor="let recorre of IdioOpc"
                     [value]="recorre"
                         >{{recorre}} </option>
                    </select> 
                    <div *ngIf="Idioma?.errors && Idioma?.touched">

                      <p *ngIf="Idioma?.hasError('required')" class="text-danger">
                        Debe ingresar el idioma.
                
                      </p>
                      <p *ngIf="Idioma?.errors?.['minlength']" class="text-danger">
                        Debe ingresar el idioma.
                      
                      </p>
              
                    </div>


      </div>

      <div class="form-group">

        <label *ngIf="flagedit===false">Ingrese el nivel de lectura del idioma</label>
        <label *ngIf="flagedit===true">Ingrese el nivel de lectura del idioma,nivel  actual: {{datoedit.nivel_lectura}}</ label>
      <select 
      formControlName="nivel_lectura"
      [ngClass]="{'is-invalid': Nivel_lectura?.errors && (Nivel_lectura?.touched), 'is-valid':!Nivel_lectura?.errors && Nivel_lectura?.touched}"
                                      
                      class="form-select form-select-lg mb-3" aria-label=".form-select-sm example">
                      
                      <option

                     *ngFor="let recorre of Opciones"
                     [value]="recorre"
                         >{{recorre}} </option>
                    </select> 
                    <div *ngIf="Nivel_lectura?.errors && Nivel_lectura?.touched">

                      <p *ngIf="Nivel_lectura?.hasError('required')" class="text-danger">
                        Debe ingresar el nivel de lecutra del idioma.
                
                      </p>
                      <p *ngIf="Nivel_lectura?.errors?.['minlength']" class="text-danger">
                        Debe ingresar el nivel de lecutra del idioma.
                      
                      </p>
              
                    </div>


      </div>


      <div class="form-group">

        <label *ngIf="flagedit===false">Ingrese el nivel de escritura del idioma</label>
        <label *ngIf="flagedit===true">Ingrese el nivel de escritura del idioma,nivel  actual: {{datoedit.nivel_lectura}}</ label>
      <select 
      formControlName="nivel_escritura"
      [ngClass]="{'is-invalid': Nivel_escritura?.errors && (Nivel_escritura?.touched), 'is-valid':!Nivel_escritura?.errors && Nivel_escritura?.touched}"
                                      
                      class="form-select form-select-lg mb-3" aria-label=".form-select-sm example">
                      
                      <option

                     *ngFor="let recorre of Opciones"
                     [value]="recorre"
                         >{{recorre}} </option>
                    </select> 
                    <div *ngIf="Nivel_escritura?.errors && Nivel_escritura?.touched">

                      <p *ngIf="Nivel_escritura?.hasError('required')" class="text-danger">
                        Debe ingresar el nivel de escritura del idioma.
                
                      </p>
                      <p *ngIf="Nivel_escritura?.errors?.['minlength']" class="text-danger">
                        Debe ingresar el nivel de escritura del idioma.
                      
                      </p>
              
                    </div>

      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

  </div>
</div>
















<!--




 


<div
*ngIf="newitem===false"
 class="bodyNewExp">
    <h2 class="Titnuevaexp">Nuevo Idioma</h2>
    <br/>
    <label *ngIf="flagedit===false">Seleccionar Idioma</label>
    <label *ngIf="flagedit===true">Editar Idioma {{datoedit.idioma}} </label>

    <select [(ngModel)]="idioma">
      <option *ngFor="let c of IdioOpc" [ngValue]="c">{{c}}</option>
    </select>
    <p> {{idioma}}</p>
    
    <br/>
    <label *ngIf="flagedit===false">Seleccionar nivel de lectura</label>
    <label *ngIf="flagedit===true">Editar Idioma {{datoedit.idioma}} opcion nivel de lectura.</label>
    <select [(ngModel)]="nivel_lectura">
      <option *ngFor="let c of Opciones" [ngValue]="c">{{c}}</option>
    </select>
    <p> {{nivel_lectura}}</p>

    <br/>
    <label *ngIf="flagedit===false">Seleccionar nivel de escritura</label>
    <label *ngIf="flagedit===true">Seleccionar {{datoedit.idioma}} opcion nivel de escritura.</label>
    <select [(ngModel)]="nivel_escritura">
      <option *ngFor="let c of Opciones" [ngValue]="c">{{c}}</option>
    </select>
    <p> {{nivel_escritura}}</p>

    <br />
    
    <button
    type="button"
    class="btn btn-success"
    (click)="enviaExp()"
    style='width:5rem; height:1.4rem;font-size:0.5rem;'
    >Confirmar</button>

</div>
-->