
<!--
<div class="fondoAD">
<div class="container">
  <div class="row">
      <div class="col-sm-3" >
        <img [src]="Users.UrlImg" class="perfil">
        <div class="infopersonal">
        <h3 class="dato">{{Users.Apellido}}, {{Users.Nombre}}</h3>
        <p class="dato"> e-mail:{{Users.email}} 
         tel:{{Users.Telefono}} 
         <br>Edad: {{Users.Edad}} </p>
      </div>


      </div>
    
      <div class="col-sm-8" > 
          <h1 class="tituloAcerca">Acerca de</h1>
          
          <p class="dato" id="textoacercade"> {{Users.Acercademi}} </p>
      </div>
      
      <div class="col-sm-1" > 
        
          <button (click)="On1Click()">
            <svg xmlns="http://www.w3.org/2000/svg" width="0.6rem" height="0.6rem" fill="Black" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
      </div>
      <div class="row">
        <div class="col-sm-11" > 
          <app-add-text [showAddTask]="BtnClick"  
          (texto)="updateInfo($event)" ></app-add-text>
        </div>
      </div>
</div>
</div>
</div>

-->
 

<section *ngIf="newitem===false"  class="container custom-section">
  <div class="row bloque">
    <div
    style="border: none"
      class="cb card text-white bg-dark col-md "
      data-aos="fade-up"
      data-aos-offset="400"
      data-aos-duration="500"
    >
    <div class="card-header"></div>
    <div class="card-body">
    <h3 class="card-title empresa" >Datos Personales:</h3>
    <p class="card-text empresa" > e-mail:{{Users[0].email}} <br>
    tel:{{Users[0].telefono}} </p>
  <p class="card-text empresa" >Edad: {{Users[0].edad}}</p>  
      
    </div>
  </div>
    <div class="cb card text-white bg-dark col-md-8"
    style="border: none">
      <div class="card-header"></div>
      <div class="card-body">
        <h3 class="card-title empresa">Acerca de mi:</h3>
      <p class="card-text sector" >  {{Users[0].acercademi}} </p>   
     
    </div>
     </div>
  
    <div class="cb card text-white bg-dark col-md"
    style="border: none">
      
      <div class="card-header"></div>
      <div class="card-body">
        <br>
        <br>
        <a routerLink="/portfolio" 
        (click)="EditarUsuario(usuarios)"        

        >
        <span class="glyphicon glyphicon-pencil"></span>
        </a>

        <br>
    
         </div>
        
    </div> 

  </div>
</section>

  

  
      