<div class="bodyNewExp">
    <h2 *ngIf="flagedit1==false" class="Titnuevaexp"  >Nuevo  Lenguaje de programacion{{flagedit1}}</h2>
    <label *ngIf="flagedit1===true">Editar Lenguaje de programacion  {{datoedit1.lenguaje}} .</label>
    <br />
    <div class="row blockinput">
      <div class="col-sm-2" ></div>
      <div class="col-sm-10" >
                             <label for="imageFile">Imagen  del lenguaje de programacion:</label>
                            <input type="file" id="imageFile" accept="image/*" multiple>
      </div>
    
        </div>    
           <br /> 
           <label *ngIf="flagedit1==false">Ingrese el nombre del lenguaje.</label>
           <input
           style="height: 1rem; font-size:0.5rem" 
            type="text"
            class="form-control"
            id="Institucion"
            name="Institucion"
            placeholder="ingrese puesto"
            [(ngModel)]="lenguaje"
            > 
    
             <p>{{lenguaje}}</p>

            <div class="row blockinput">
                <div class="col-sm-6" >         
                    
                     
                      <div class="form-group purple-border">
                        <label *ngIf="flagedit1==false" for="exampleFormControlTextarea4">Ingrese Informacion del Lenguaje de Programación.</label>
                        <textarea class="form-control"
                        type="text"
                        class="form-control"
                        id="Institucion"
                        name="Institucion"
                        placeholder="ingrese informacion del lenguaje de programacion."
                        [(ngModel)]="info"             
                         id="exampleFormControlTextarea4" rows="3"></textarea>
                      </div>
                    

                     <small id="passwordHelpBlock" class="form-text text-muted">
                      Ingrese informacion con respecto al lenguaje de programacion como ser proyectos, alcances del conocimiento que tiene actualmente, etc...
                    </small>
                     <p> {{info}}</p>
                  </div>

                  </div>


<div>
    <button
    type="button"
    class="btn btn-success"
    (click)="enviaSkill()"
    style='width:5rem; height:1.4rem;font-size:0.5rem;'
    >Confirmar</button>

</div>