<div>
  <h1 CLASS="TitIdio"> IDIOMAS </h1>
    <div class="container">
      <div class="row colu1">
        <div class="col colp2">
          <h4 class="idioma"> {{idioma1}} </h4>
        </div>
        <div class="col colp">
          <p class="Idiolvl"> Lectura: {{tipoIdioma[1]}}</p>
          <p class="Idiolvl"> Escritura: {{tipoIdioma[1]}}</p>

        </div>
        <div class="col colp">
          <p class="Idiolvl"> +</p>
          <p class="Idiolvl"> -</p>

        </div>
      </div>
      <div class="row colu1">
        <div class="col colp2">
          <h4 class="idioma"> {{idioma2}} </h4>
        </div>
        <div class="col colp">
          <p class="Idiolvl"> Lectura: {{tipoIdioma[3]}}</p>
          <p class="Idiolvl"> Escritura: {{tipoIdioma[2]}}</p>
        </div>
        <div class="col colp">
          <p class="Idiolvl"> +</p>
          <p class="Idiolvl"> -</p>

        </div>
       </div>
    </div>


    </div>



<button (click)="SubirBD()"> Subir a la BD </button>
<input #file type="file" accept='image/*' (change)="EventFile(file.files)" />

<img [src]="imgURL" height="200" *ngIf="imgURL">
<img [src]="ArchGuardar.imagen" height="100" *ngIf="ArchGuardar.imagen"  >
<p> {{imgURL}}</p>
<p> {{ArchGuardar.imagen}}</p>

<button (click)="MostrardatosBD()"> MOstrar INFO</button>
<div *ngIf="mostrar">
<p *ngFor="let recorre of archiGETBD"> {{recorre.imagen}}, {{recorre.nombre}}, {{recorre.id}} </p>
<p> {{archiGETBD.length}}</p>
<img *ngFor="let recorre of archiGETBD" [src]="recorre.imagen" height="50" >
</div>



<figure>
  <img src="http://oi41.tinypic.com/30mmgbd.jpg" alt="Smiley face" width="42" height="42" />
  <figcaption>Tu texto</figcaption>
</figure>