/* You can add global styles to this file, and also import other style files */
/* El body con margin 0 usamos toda la pantalla
*/
body {
    margin: 0; /*Elimnina el margin que le añade por defecto el navegador a nuestro body*/
    background: lightgray;
  }
  

  .custom-section {
    padding-top: 50px;
  }
  .cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card-text {
    font-family: "New Tegomin";
  }

  /*
  
  
  
  
  */
  
  /* Ver apartado 4.5.Variables css */
  :root {
    --main-color: white;
  }
  .bg {
    text-align: center;
    padding: 10px;
    height: 100vh; /* La caja ocupará el 100% del alto del navegador*/
    background-size: cover; /* Ajusta la proporoción de la imagen a la caja*/
    background-position: center;
    box-sizing: border-box; /* Definimos si la altura de la caja será hasta el borde. Es decir, si habrá padding o no*/
  
    /* -- modo flexbox -- */
    display: flex; /*Las cajas de dentro se posicionarán según flexbox*/
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* -- modo flexbox -- */
  
    /* -- blur efect -- */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    /* Ver apartado 4.4.Google fonts */
    font-family: RubikMonoOne;
  }
  /* El background es una imagen previamente descargada en nuestra carpeta images del proyecto */
  .home {
    background-image: url("https://drive.google.com/uc?id=1U7jHorMkDoY5IzDDX2LCNcfCRJcNXv0p&export=download");
  }



  /* para los fa*/
  .fa {
    padding: 4px;
    width: 3rem;
    
    width: 1.28571429em;
}
 /* Imagen de perfil*/

.perfil{
    width:17rem;
    height:17rem;
    border-radius:50%;
}